@use '../../index.scss' as colors;

#modal-accordian-item {
  border-color: red;
}
#modal-accordian-btn {
  border-top-left-radius: var(--bs-accordion-inner-border-radius);
  border-top-right-radius: var(--bs-accordion-inner-border-radius);
  background-color: transparent;
  color: colors.$danger-text-color;
  padding: 8px;
}
#modal-accordian-btn.collapsed {
  border-bottom-right-radius: var(--bs-accordion-inner-border-radius);
  border-bottom-left-radius: var(--bs-accordion-inner-border-radius);
  color: colors.$danger-color;
}
#modal-accordian-btn:focus {
  box-shadow: none;
}
#modal-accordian-btn:not(.collapsed) {
  background: colors.$danger-color;
}
#add-league-button {
  position: fixed;
  right: 1.5rem;
  bottom: 1.5rem;
  z-index: 1030;
  border-radius: 50%;
  font-size: 2rem;
  padding: 0.25rem 0.75rem;
}
