 #modal-accordian-item {
  border-color: red;
 }
 #modal-accordian-btn {
  border-top-left-radius: var(--bs-accordion-inner-border-radius);
  border-top-right-radius: var(--bs-accordion-inner-border-radius);
  background-color: transparent;
  color: red;
}
#modal-accordian-btn.collapsed {
  border-bottom-right-radius: var(--bs-accordion-inner-border-radius);
  border-bottom-left-radius: var(--bs-accordion-inner-border-radius);

}
#modal-accordian-btn:focus {
  box-shadow: none;
}
#modal-accordian-btn:not(.collapsed) {
  background: rgb(255, 155, 155);
}
